
<div style="display: flex; position: fixed; background-color: #94ffff; width: 100%; height: 100%;">
    <div style="width: 20%; height: 100%; padding: 20px;">
        <h2>Hex Visualizer</h2>
        <form [formGroup]="gameControlsForm" style="padding-bottom: 20px;" nz-form>
            <div style="width: 100%;">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Number of board rows must be between 2 and 19">
                        <nz-form-label nzFor="rows">Enter Rows</nz-form-label>
                        <input nz-input type="number" name="rows" formControlName="rows" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="width: 100%;">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Number of board columns must be between 2 and 19">
                        <nz-form-label nzFor="cols">Enter Columns</nz-form-label>
                        <input nz-input type="number" name="cols" formControlName="cols" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="width: 100%;">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please select which player should">
                        <nz-form-label nzFor="startingPlayer">Choose Which Player Starts</nz-form-label>
                        <nz-select name="startingPlayer" formControlName="startingPlayer">
                            <nz-option *ngFor="let option of playerOptions" [nzLabel]="option" [nzValue]="option" ></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="width: 100%;">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please select a tile size">
                        <nz-form-label nzFor="tileSize">Select Tile Size</nz-form-label>
                        <nz-slider nzMin="20" nzMax="50" name="tileSize" formControlName="tileSize"></nz-slider>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </form>
        <button *ngIf="!gameSettings.running" nz-button nzType="primary" style="color: white; background-color: #006eff; width: 100%; " (click)="startGame()">START GAME</button>
        <button *ngIf="gameSettings.running" nz-button nzType="primary" style="color: white; background-color: #ff0033; width: 100%; " (click)="stopGame()">STOP GAME</button>
        <button *ngIf="gameSettings.running && moveManager.getHistoryList().length > 0" nz-button nzType="primary" style="color: white; background-color: #006eff; width: 100%; margin-top: 15px;" (click)="undoMove()">UNDO MOVE</button>
        <button *ngIf="gameSettings.running && moveManager.getRedoList().length > 0" nz-button nzType="primary" style="color: white; background-color: #006eff; width: 100%; margin-top: 15px;" (click)="redoMove()">REDO GAME</button>
    </div>
    <div style="width: 80%; height: 100%;">
        <app-hex-visualizer #hexViz></app-hex-visualizer>
    </div>
</div>

