<div style="display: flex; position: fixed; background-color: #94ffff; width: 100%; height: 100%;">
    <div style="width: 20%; height: 100%; padding: 20px;">
        <h2>Hex Visualizer</h2>
        <form [formGroup]="gameControlsForm" style="padding-bottom: 20px;" nz-form>
            <div style="width: 100%;">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Number of board rows must be between 2 and 19">
                        <nz-form-label nzFor="rows">Enter Rows</nz-form-label>
                        <input nz-input type="number" name="rows" formControlName="rows" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="width: 100%;">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Number of board columns must be between 2 and 19">
                        <nz-form-label nzFor="cols">Enter Columns</nz-form-label>
                        <input nz-input type="number" name="cols" formControlName="cols" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="width: 100%;">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please select which player should">
                        <nz-form-label nzFor="startingPlayer">Player To Start</nz-form-label>
                        <nz-radio-group style="display: flex; " formControlName="startingPlayer" nzButtonStyle="solid" nzName="startingPlayer">
                            <label style="width: 100%; text-align: center" nz-radio-button nzValue="{{ gameSettings.COLOR_LEFT_RIGHT }}">{{ gameSettings.COLOR_LEFT_RIGHT }}</label>
                            <label style="width: 100%; text-align: center" nz-radio-button nzValue="{{ gameSettings.COLOR_UP_DOWN }}">{{ gameSettings.COLOR_UP_DOWN }}</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="width: 100%;">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please select a tile size">
                        <nz-form-label nzFor="tileSize">Select Tile Size</nz-form-label>
                        <nz-slider nzMin="20" nzMax="50" name="tileSize" formControlName="tileSize"></nz-slider>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </form>
        <button *ngIf="!gameSettings.running" nz-button nzType="primary" style="width: 100%; margin-bottom: 5%;" (click)="startTutorial()">TUTORIAL</button>
        <button *ngIf="!gameSettings.running" nz-button nzType="primary" style="width: 100%; " (click)="startGame()">START GAME</button>
        <button *ngIf="gameSettings.running" nz-button nzDanger nzType="primary" style="width: 100%; " (click)="stopGame()">STOP GAME</button>

        <!-- To place components size by side -->
        <div style="display: flex; justify-content: space-evenly; margin-top: 15px;">
            <button *ngIf="gameSettings.running" [disabled]="moveManager.getHistoryList().length <= 0" nz-button nzType="primary" style="width: 100%; margin-right: 7px;" (click)="undoMove()">UNDO MOVE</button>
            <button *ngIf="gameSettings.running" [disabled]="moveManager.getRedoList().length <= 0" nz-button nzType="primary" style="width: 100%; margin-left: 7px;" (click)="redoMove()">REDO MOVE</button>
        </div>

        <div style="margin-top: 15px;" *ngIf="gameSettings.running">
        <div *ngFor="let image of _albums; let i=index">
            <img [src]="image.thumb" (click)="open(i)" />
        </div>
<!--            <h3 style="text-align: center;">Game Information</h3>-->

            <nz-table nzBordered nzTemplateMode nzSize="middle" style="margin-top: 10px">
                <thead>
                    <tr>
                        <th nzAlign="left">Statistic</th>
                        <th nzAlign="center">{{ gameSettings.COLOR_LEFT_RIGHT }}</th>
                        <th nzAlign="center">{{ gameSettings.COLOR_UP_DOWN }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td nzAlign="left" nz-tooltip nzTooltipTitle="The number of spaces on the board with a piece in it.">
                            <div style="display: flex; justify-content: space-between;">
                                <div>
                                    <b>Filled Spaces</b>
                                </div>
                                <div>
                                    <i nz-icon nzType="info-circle" nzTheme="outline"></i>
                                </div>
                            </div>
                        </td>
                        <td nzAlign="center">{{ gameSettings.currentGameResult.filledSpacesLR }}</td>
                        <td nzAlign="center">{{ gameSettings.currentGameResult.filledSpacesUD }}</td>
                    </tr>
                    <tr>
                        <td nzAlign="left" nz-tooltip nzTooltipTitle="The total number of empty spaces on the board.">
                            <div style="display: flex; justify-content: space-between;">
                                <div>
                                    <b>Empty Spaces</b>
                                </div>
                                <div>
                                    <i nz-icon nzType="info-circle" nzTheme="outline"></i>
                                </div>
                            </div>
                        </td>
                        <td nzAlign="center" colspan="2">{{ gameSettings.currentGameResult.emptySpaces }}</td>
                    </tr>
                    <tr>
                        <td><b>Winner</b></td>
                        <td *ngIf="!gameSettings.currentGameResult.winner" nz-tooltip nzTooltipTitle="A winner has not been determined yet." nzTooltipPlacement="bottom" nzAlign="center" colspan="2">
                            <i nz-icon nzType="question-circle" nzTheme="twotone"></i>
                        </td>
                        <td *ngIf="gameSettings.currentGameResult.winner" nzAlign="center">
                            <i *ngIf="gameSettings.currentGameResult.winner === gameSettings.COLOR_LEFT_RIGHT" nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#52c41a"></i>
                        </td>
                        <td *ngIf="gameSettings.currentGameResult.winner" nzAlign="center">
                            <i *ngIf="gameSettings.currentGameResult.winner === gameSettings.COLOR_UP_DOWN" nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#52c41a"></i>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>

    </div>
    <div style="width: 80%; height: 100%;">
        <app-hex-visualizer #hexViz></app-hex-visualizer>
    </div>
</div>


